<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/1.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylessss.css') }}">
    <title>Login - PUMES</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in" style="right: 0; left: 50%">
            <form method="POST">
                <h1>Daftar Baru</h1>
                <br>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <p style="color:red;">{{ message }}</p>
                            {% elif category == 'success' %}
                                <p style="color:blue;">{{ message }}</p>
                            {% else %}
                                <p>{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="text" id="username" name="username" placeholder="example@gmail.com" attern="[a-zA-Z0-9._%+-]+@gmail\.com" value="{{ username|default('') }}" required>
                <input type="password" id="password" name="password" placeholder="password" required>
                <button type="submit" style="background: #ff898b">Daftar</button>
            </form>
        </div>
        <div class="toggle-container" style="position: static; border-radius: 0 150px 100px 0;">
            <div class="toggle" style="background: #ff898b">
                <div class="toggle-panel toggle-right">
                    <h1>Welcome, Back!</h1>
                    <p>
                        Silahkan Login untuk menggunakan <br>semua fitur PUMES</p>
                    <a href="{{ url_for('login') }}" style="border-radius: 10px; padding: 10px 50px; color: white; border: 1px solid white;">Login</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
